body {
  width: 95%;
  margin: 0 auto;
}
table {
  width: 100%;
}

thead .navn {
  text-align: left;
}

table, th, tr, td {
  border: 2px #333 solid;
}

table table {
  height: 2.5em;
  &, & tr {
    border: none;
  }
  td {
    border: 1px #333 solid;
  }
  tr {
    line-height: 0.5em;
  }
}

tr {
  line-height: 2.624em;
  font-size: 1em;
}

td {
  text-overflow: ellipsis;
}

.navn {
  padding-left: 1%;
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ol {
  width: 30%;
}

.20 {
  width: 15%;
}

.5, .1 {
  width: 5%;
}
