<fieldset>
    <span id="id" style="display: none"></span>
    <div class="lagret" style="display: none">Lagret!</div>
    <div class="pure-control-group">
        <label for="name">Navn</label>
        <input type="text" id="name" placeholder="Navn">
    </div>
    <div class="pure-control-group">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Epost">
    </div>
    <div class="pure-control-group">
        <label for="balance">Saldo</label>
        <span id="balance"><span>
    </div>
    <div class="pure-control-group">
        <label for="pang">Pang?</label>
        <input type="checkbox" id="pang">
    </div>
    <div class="pure-control-group">
        <label for="visible">Synlig?</label>
        <input type="checkbox" id="visible">
    </div>
    <div class="pure-controls">
        <div class="error" style="display: none"></div>
        <button type="submit" class="pure-button pure-button-primary">Lagre<div style="display: none" class='loader-small'></div></button>
    </div>
</fieldset>