<h1>Rediger Bruker</h1>
<p>
  <a href="/admin/brukere">Tilbake til brukeroversikt</a>
</p>
<form id="bruker" class="pure-form pure-form-aligned"></form>
<table class="kryss pure-table pure-table-striped">
  <thead>
      <tr>
          <th>Dato</th>
          <th class="ol">Øl</th>
          <th class="penger">Penger</th>
          <th class="sum">Sum</th>
          <th>Kommentar</th>
      </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="loader"></div>
<script src="/assets/bruker.js"></script>