<h1>Hei <span class="name"></span></h1>
<p>Velkommen til NBBs Adminpanel</p>
<h2>Administrer lister</h2>
<div class="pure-g panel">
  <div class="pure-u-1-2">
    <a class="pure-button" id="registrere-kryss" href="admin/kryss">Registrere kryss</a>
  </div>
  <div class="pure-u-1-2">
    <a class="pure-button" id="registrere-kryss" href="admin/innskudd">Sette inn penger</a>
  </div>
  <div class="pure-u-1-2">
    <a class="pure-button" id="krysseliste" href="admin/krysseliste">Generer krysseliste</a>
  </div>
  <div class="pure-u-1-2">
    <a class="pure-button" id="krysseliste" href="admin/lister">Tidligere lister</a>
  </div>
</div>
<h2>Administrer brukere</h2>
<div class="pure-g panel">
  <div class="pure-u-1-2">
    <a class="pure-button" id="ny-bruker" href="admin/brukere/ny">Ny bruker</a>
  </div>
  <div class="pure-u-1-2">
    <a class="pure-button" id="endre-bruker" href="admin/brukere">Brukere</a>
  </div>
</div>