<h1>Registrere innskudd</h1>
<form class="pure-form pure-form-stacked" id="felles-verdier">
  <legend>Felles informasjon</legend>
  <fieldset>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <label for="kommentar">Kommentar</label><textarea id="kommentar" placeholder="Kommentar for innskudd"></textarea>
    </div>
    </fieldset>
  </div>
</form>
<div id="innskudd">
  <form class="innskudd pure-form pure-form-stacked">
    <legend>Innskudd</legend>
    <fieldset></fieldset>
  </form>
  <div>
    <button class="pure-button pure-button-xsmall" id="ny-person">Legg til person</button>
  </div>
  <div class="cta">
    <button class="pure-button pure-button-success" id="lagre">Lagre</button>
  </div>
</div>
<script src="/assets/innskudd.js"></script>