<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Krysseliste</title>
  <link rel="stylesheet" href="/assets/pure-min.css">
  <link rel="stylesheet" href="/assets/krysseliste.css">
</head>
<body>
  <h1>Krysseliste Markedsføringsgjengen</h1>
  <p>Barsjef: <span class="barsjef"></span> (<span class="epost"></span>), <span class="telefon"></span></p>
  <h3>Hvite medlemmer</h3>
  <table id="krysseliste">
    <thead>
      <tr>
        <th class="navn">Navn</th>
        <th class="ol">Øl</th>
        <th class="20">20</th>
        <th class="5">5</th>
        <th class="1">1</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <h3>Svarte medlemmer</h3>
  <p class="svarte"></p>
</body>
</html>

