<span id="id" style="display: none"></span>
<h1>Hei <span class="name"></span></h1>
<p>Du har <span class="balance"></span> på kontoen.</p>
<p>Du har brukt <span class="highscore"></span> totalt.</p>
<table class="kryss pure-table pure-table-striped">
  <thead>
      <tr>
          <th>Dato</th>
          <th class="ol">Øl</th>
          <th class="penger">Penger</th>
          <th class="sum">Sum</th>
          <th>Kommentar</th>
      </tr>
  </thead>
  <tbody></tbody>
</table>
<div class="loader"></div>
<script src="/assets/nbb.js"></script>
